.spacer {
    flex: 1 1 auto;
}

.task-details-container {
    margin: 10px;
}

.task-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-field {
    width: 100%;
}

.description-field {
    width: 100%;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.action-buttons button {
    margin-left: 10px;
}
